.vtex-store__template {
    overflow: hidden;
}

.vtex-sticky-layout-0-x-container {
    -webkit-box-shadow: 0px 5px 35px 5px #000000 !important; 
    box-shadow: 0px 5px 35px 5px #000000 !important;
}

.searchBarContainer {
    display: flex;
    align-items: center;
}

.input-container {
    flex-grow: 0;
    max-width: 41.666667%;
}

.autoCompleteOuterContainer--input-container {
    border-radius: 0;
    background-color: transparent;
}

.autoCompleteOuterContainer--input-container :global(.vtex-input-prefix__group) {
    border: none;
    border-radius: 0;
}

.autoCompleteOuterContainer--input-container :global(.vtex-styleguide-9-x-input) {
    color: #ffffff;
    padding: 10px 0;
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    transition: border-bottom .3s;
}

.autoCompleteOuterContainer--input-container :global(.vtex-styleguide-9-x-input):focus {
    border-bottom: 2px solid #59ff00;
}


.autoCompleteOuterContainer--input-container :global(.vtex-styleguide-9-x-input)::placeholder,
.autoCompleteOuterContainer--input-container :global(.vtex-styleguide-9-x-input)::-webkit-input-placeholder {
    text-transform: uppercase;
    color: #ffffff;
    transition: color .3s;
}

.autoCompleteOuterContainer--input-container :global(.vtex-styleguide-9-x-input):focus::placeholder,
.autoCompleteOuterContainer--input-container :global(.vtex-styleguide-9-x-input):focus::-webkit-input-placeholder {
    color: #59ff00;
}

.autoCompleteOuterContainer--input-container :global(.vtex-input__suffix) {
    border-radius: 0;
    background-color: transparent !important;
    padding: 0;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 0;
}

.searchIcon,
.closeIcon {
    color: #ffffff;
}